.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 23%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #003399;
}

.card p {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .card {
      width: 48%;
  }
}

@media (max-width: 480px) {
  .card {
      width: 100%;
  }
}
