.header {
  background-color: #f8f8f8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-placeholder {
  height: 100px;
  width: 150px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #666;
}

.contact-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.contact-info div {
  margin: 5px 0;
}

.contact-info .horizontal-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-info .horizontal-info div {
  display: flex;
  align-items: center;
}

.contact-info .horizontal-info div i {
  margin-right: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
  height: 30px;
}

.search-bar button {
  background-color: #003399;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button i {
  margin: 0;
}

.search-bar button:hover {
  background-color: #002080;
}

.text-highlight {
  background-color: #003399;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  width: calc(100% - 170px);
  text-align: center;
  display: flex;
  align-items: center;
  height: 30px;
}
